{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    {% block styles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicons/favicon.ico' %}"/>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/stylish-portfolio.min.css' %}" rel="stylesheet">
    {% endblock %}

  </head>

  <body id="page-top">

    {% block extra_header %}
    {% endblock %}

    {% block morestyles %}
    {% endblock %}

    {% block morescripts %}
    {% endblock %}

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="{% url 'index' %}">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'index' %}#signupform">Join</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'index' %}#seminars">Seminars</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'index' %}#about">About</a>
        </li>

        <li class="sidebar-nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'updates_landing' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Updates
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'updates_view' type_of_update='clinical' %}">Clinical</a>
            <a class="dropdown-item" href="{% url 'updates_view' type_of_update='business_funding' %}">Business & Funding</a>
            <a class="dropdown-item" href="{% url 'updates_view' type_of_update='technology' %}">Technology</a>
          </div>
        </li>
        <li class="sidebar-nav-item">
          <a class="nav-link" href="{% url 'careers_view' %}">Careers</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        {% block header_content %}
        {% endblock %}
      </div>
      <div class="overlay"></div>
    </header>

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">

        <div class="row">
          <div class="col-sm-6 text-center">
            <table class="table table-sm table-borderless">
              <thead>
                <tr>
                  <th scope="col"><a href="{% url 'index' %}#seminars">Seminars</a></th>
                  <th scope="col"><a href="{% url 'updates_landing' %}">AI Updates</a></th>
                  <th scope="col"><a href="{% url 'index' %}#about">About Us</a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="{% url 'seminars_view' %}">@Penn</a></td>
                  <td><a href="{% url 'updates_view' type_of_update='technology' %}">Tech</a></td>
                  <td><a href="{% url 'index' %}#mission">Mission</a></td>
                </tr>
                <tr>
                  <td><a href="http://cs522.stanford.edu/">@Stanford</a></td>
                  <td><a href="{% url 'updates_view' type_of_update='clinical' %}">Clinical</a></td>
                  <td><a href="{% url 'index' %}#team">Team</a></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a href="{% url 'updates_view' type_of_update='business_funding' %}">Business & Funding</a></td>
                  <td><a href="https://www.youtube.com/channel/UCfwRMLvTFymNnkA0ojW-QLw/">YouTube Channel</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-4 offset-sm-2 text-right">
            Health AI Network is a Pennsylvania<br>501(c)(3) ​nonprofit corporation
          </div>
        </div>
        <p class="text-muted small mb-0 text-center">© COPYRIGHT 2018. ALL RIGHTS RESERVED.</p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% block scripts %}
      <!-- Bootstrap core JavaScript -->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

      <!-- Plugin JavaScript -->
      <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

      <!-- Custom scripts for this template -->
      <script src="{% static 'js/stylish-portfolio.min.js' %}"></script>
    {% endblock %}

  </body>

</html>
