{% extends "pages/base.html" %}
{% load static %}

{% block title %}HEALTH AI NETWORK - AI in healthcare{% endblock %}

{% block header_content %}
  <h1 class="mb-1">Health AI Updates.</h1>
{% endblock %}

{% block content %}

  <section class="content-section bg-light text-center" id="moreinfo">
    <div class="container">
      <div class="row">
		<p>The Health AI Updates section is your source on the today's happenings in the <a href="https://www.healthainetwork.org/clinical.html">clinical</a>, <a href="https://www.healthainetwork.org/technology.html">technical</a>, and <a href="https://www.healthainetwork.org/business--funding.html">business & funding</a> space from personal healthcare robots to the latest on healthcare's movers and shakers.</p>
		<p>Interested in specific topics? Let us know at <a href="mailto:healthcareainetwork@gmail.com">healthcareainetwork@gmail.com</a> </p>
      </div>
	</div>
  </section>

{% endblock %}